.section-wall {
   display: flex;
   flex-direction: column;
}

.sectionPost{
   display: contents;
}

.container-head {
   width: 20%; /*25%*/
   height: 100%;
   position: fixed;
   display: flex;
   justify-content: space-around;
   align-items: center;
   box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.2);
   flex-direction: column;
}
.imgLogo-wall {
   /* width: 70%;
   height: 8%; */
   width: 60%;
   height: 6%;
   margin: 0px 0px 80px 0px;
}
.btnSignUp-wall {
   width: 80px;
   height: 32px;
   border-radius: 6px;
   /* margin-top: 5px; */
   margin-top: 178px;
   border: none;
   background: linear-gradient(to bottom, #DB00FF, #7204FE);
   color: #FFF;
}
/* ///////////////////////////// Create Post //////////////////////////// */
.contentWall {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.containerCreatePost {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   margin: 34px 0px 34px 0px;
   align-items: center;
}
.containerTxtArea-post {
   width: 32%;
   height: 84px;
   display: flex;
   background: #D9D9D9;
   margin: 19px 22px;
   border-radius: 15px;
   border: none;
}
.txtAreaCreate-post {
   width: 100%;
   height: auto;
   border-radius: 15px;
   display: flex;
   border: none;
   background: transparent;
   margin: 10px;
   padding: 10px;
   border-color: #CECECE;
   border-width: 0.2px;
   border-style: solid;
   color: #565656;
   text-align: justify;
   font-size: 15px;
   font-family: Inter;
   font-weight: 600;
   word-wrap: break-word;
   resize: none;
}
.containerImgUser-post {
   width: 51px;
   height: 51px;
   margin: 16px;
   display: flex;
   background: linear-gradient(to bottom, #DB00FF, #7204FE);
   border-radius: 50%;
}
.circle-img {
   width: 45px;
   height: 45px;
   margin: 3px;
   display: flex;
   background-color: #D9D9D9;
   border-radius: 50%;
}
.containerImgUser-post img {
   width: 39px;
   height: 39px;
   margin: 3px;
   display: flex;
   border-radius: 50%;
}
.button-publish {
   /*cambio?*/
   width: 80px;
   height: 32px;
   display: flex;
   flex-direction: column;
   border-radius: 6px;
   border: none;
   background: linear-gradient(to bottom, #DB00FF, #7204FE);
   color: #FFF;
   padding: 12px 10px 25px 18px;
}
/* ///////////////////////////// post //////////////////////////// */
.container-post {
   margin: 0% 0% 1.5% 0%;
   border-top: 1px solid #1B1B1B;
   display: flex;
   flex-direction: column;
   width: 35.2%;
   height: 100%;
}
.head-post {
   /*cambio?*/
   padding-top: 15px;
   padding-bottom: 15px;
   width: 80%;
   height: auto;
   display: flex;
   align-items: center;
   margin: 0px 35px;
}
.containerUser-post {
   width: 100%;
   height: auto;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.ImgUser-post {
   width: 39px;
   height: 39px;
   margin: 3px;
   display: flex;
   border-radius: 50%;
}
.nameUser-post {
   color: #FFF;
   text-align: justify;
   font-size: 15px;
   font-family: Inter;
   font-weight: 600;
   word-wrap: break-word;
   padding: 10px;
}
.btn-edit {
   /* width: 28px;
   height: 28px; */
   width: 23px;
   height: 22px;
   margin-left: 0px;
   background-image: url(/img-sn/Edit.svg);
   background-size: cover;
   border: none;
   background-color: transparent;
}
.btn-delete {
   width: 23px;
   height: 22px;
   /* width: 28px;
   height: 28px; */
   /*margin-left: 210px; si está abajo (modo celu) */
   margin-left: 5px;
   background-image: url(/img-sn/Delete.svg);
   background-size: cover;
   border: none;
   background-color: transparent;
   justify-self: end;
}
.card-post {
   width: auto;
   height: 170px;
   display: flex;
   background: #D9D9D9;  /*#D9D9D9 #d9d9d9bb cambié el color */
   margin: 19px 22px;
   border-radius: 15px;
   border: none;
}
.txtArea-post {
   width: 100%;
   height: auto;
   border-radius: 15px;
   display: flex;
   border: none;
   background: transparent;
   margin: 10px;
   padding: 10px;
   border-color: #CECECE;
   border-width: 0.2px;
   border-style: solid;
   color: #565656;
   text-align: justify;
   font-size: 15px;
   font-family: Inter;
   font-weight: 600;
   word-wrap: break-word;
   resize: none;
}
.like-post {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
}
.btnLike-post {
   width: 24px;
   height: 24px;
   margin-left: 40px;
   /* width: 30px;
   height: 30px;
   margin-left: 40px; */
   background-image: url('../../img-sn/like.svg');
   background-size: cover;
   border: none;
   background-color: transparent;
}
.iconLike-post {
   background-image: url('../../img-sn/LikeColor.svg');
}
h1 {
   color: #FFF;
   text-align: justify;
   font-size: 13px;
   font-family: Inter;
   font-weight: 600;
   word-wrap: break-word;
   margin-left: 7px;
}
/* ////////////////////////// footer wall /////////////////////// */
.containerFooter-wall {
   display: none;
}
.btnHome-footer {
   width: 34px;
   height: 36px;
   display: flex;
   background-image: url('../../img-sn/home.svg');
   background-size: cover;
   border: none;
   background-color: transparent;
}
.btnCreatePost-footer {
   width: 40px;
   height: 40px;
   margin-left: 40px;
   display: flex;
   background-image: url('../../img-sn/createPost.svg');
   background-size: cover;
   border: none;
   background-color: transparent;
}
.btnProfile-footer {
   width: 34px;
   height: 36px;
   margin-left: 40px;
   display: flex;
   background-image: url('../../img-sn/user.svg');
   background-size: cover;
   border: none;
   background-color: transparent;
}

@media screen and (min-width: 390px) and (max-width: 767px) {
   /*(min-width: 360px) */

   /* ///////////////////////////// Index wall //////////////////////////// */
   .section-wall {
      width: 100%;
      height: auto;
      background-color: #2D2D2D;
      display: contents;
   }
   .sectionPost {
      display: contents;
   }

   /* ///////////////////////////// Head wall //////////////////////////// */

   .container-head { 
      width: 100%;
      height: 78px;
      display: flex;
      flex-direction: row;
      position: fixed;
      padding-top: 14px;
      padding-bottom: 13px;
      justify-content: space-around;
      background-color: #2D2D2D;
      border: 1px solid #000;
      /* Grosor y color del borde*/
      box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.2);
   }

   .line-section {
      width: 100%;
      height: 0.5px;
      /* background-color: #D9D9D9 */
   }

   .imgLogo-wall {
      width: 180px;
      height: 39px;
      margin: 0px;
   }

   .btnSignUp-wall {
      width: 80px;
      height: 32px;
      border-radius: 6px;
      margin-top: 5px;
      border: none;
      background: linear-gradient(to bottom, #DB00FF, #7204FE);
      color: #FFF;
   }

   /* ///////////////////////////// Create Post //////////////////////////// */

   .containerCreatePost {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      margin-top: 110px;
      align-items: center;
   }

   .containerTxtArea-post {
      width: 90%;
      height: 90px;
      display: flex;
      background: #D9D9D9;
      margin: 19px 22px;
      border-radius: 15px;
      border: none;
   }

   .txtAreaCreate-post {
      width: 100%;
      height: auto;
      border-radius: 15px;
      display: flex;
      border: none;
      background: transparent;
      margin: 10px;
      padding: 10px;
      border-color: #CECECE;
      border-width: 0.2px;
      border-style: solid;
      color: #565656;
      text-align: justify;
      font-size: 15px;
      font-family: Inter;
      font-weight: 600;
      word-wrap: break-word;
      resize: none;
   }

   .containerImgUser-post {
      width: 51px;
      height: 51px;
      margin: 16px;
      display: flex;
      background: linear-gradient(to bottom, #DB00FF, #7204FE);
      border-radius: 50%;
   }

   .circle-img {
      width: 45px;
      height: 45px;
      margin: 3px;
      display: flex;
      background-color: #D9D9D9;
      border-radius: 50%;

   }

   .containerImgUser-post img {
      width: 39px;
      height: 39px;
      margin: 3px;
      display: flex;
      border-radius: 50%;
   }

   .button-publish {
      /*cambio?*/
      width: 80px;
      height: 32px;
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      /* margin-top: 5px; */
      margin-bottom: 10px;
      /* margin-left: 359px; */
      border: none;
      background: linear-gradient(to bottom, #DB00FF, #7204FE);
      color: #FFF;
      padding: 14px 10px 27px 19px;
   }


   /* ///////////////////////////// post //////////////////////////// */

   .container-post {
      /*cambio?*/
      width: 100%;
      height: 321px;
      display: flex;
      flex-direction: column;
      /*border-top: 2.5px solid #000;  Grosor y color del borde superior */
      /*border-bottom: 2.5px solid #000;  Grosor y color del borde inferior */
      border-top: 1.5px solid #1b1b1b;
      margin: 8px 0px 0px 0px;
   }

   .head-post {
      /*cambio?*/
      padding-top: 15px;
      width: 80%;
      height: auto;
      display: flex;
      align-items: center;
      margin: 0px 35px;
   }

   .containerUser-post {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;

   }

   .ImgUser-post {
      width: 39px;
      height: 39px;
      margin: 3px;
      display: flex;
      border-radius: 50%;
   }

   .nameUser-post {
      color: #FFF;
      text-align: justify;
      font-size: 15px;
      font-family: Inter;
      font-weight: 600;
      word-wrap: break-word;
      padding: 10px;
   }

   .card-post {
      width: auto;
      height: 170px;
      display: flex;
      background: #D9D9D9;
      margin: 19px 22px;
      border-radius: 15px;
      border: none;

   }

   .txtArea-post {
      width: 100%;
      height: auto;
      border-radius: 15px;
      display: flex;
      border: none;
      background: transparent;
      margin: 10px;
      padding: 10px;
      border-color: #CECECE;
      border-width: 0.2px;
      border-style: solid;
      color: #565656;
      text-align: justify;
      font-size: 15px;
      font-family: Inter;
      font-weight: 600;
      word-wrap: break-word;
      resize: none;

   }

   .like-post {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
   }

   .btnLike-post {
      width: 30px;
      height: 30px;
      margin-left: 40px;
      background-image: url('../../img-sn/like.svg');
      background-size: cover;
      border: none;
      background-color: transparent;
   }

   .iconLike-post {
      background-image: url('../../img-sn/LikeColor.svg');
   }

   h1 {
      color: #FFF;
      text-align: justify;
      font-size: 15px;
      font-family: Inter;
      font-weight: 600;
      word-wrap: break-word;
      margin-left: 7px;
   }

   /* ////////////////////////// buttons edit/delete /////////////////////// */
   /* width: 28px;
   height: 28px; */
   .btn-edit {
      width: 26px;
      height: 25px;
      margin-left: 0px;
      background-image: url(/img-sn/Edit.svg);
      background-size: cover;
      border: none;
      background-color: transparent;
   }

   .btn-delete {
      width: 26px;
      height: 25px;
      /*margin-left: 210px; si está abajo (modo celu) */
      margin-left: 5px;
      background-image: url(/img-sn/Delete.svg);
      background-size: cover;
      border: none;
      background-color: transparent;
      justify-self: end;
   }

   /* ////////////////////////// footer wall /////////////////////// */

   .containerFooter-wall {
      width: 100%;
      height: 40px;
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      background-color: #030303;
      justify-content: space-evenly;
      position: fixed;
      bottom: 0;
      border: 5px solid #000;
      box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5);
   }

   .btnHome-footer {
      width: 46px;
      height: 46px;
      display: flex;
      background-image: url('../../img-sn/home.svg');
      background-size: cover;
      border: none;
      background-color: transparent;
   }

   .btnCreatePost-footer {
      width: 50px;
      height: 50px;
      margin-left: 40px;
      display: flex;
      background-image: url('../../img-sn/createPost.svg');
      background-size: cover;
      border: none;
      background-color: transparent;
   }

   .btnProfile-footer {
      width: 46px;
      height: 46px;
      margin-left: 40px;
      display: flex;
      background-image: url('../../img-sn/user.svg');
      background-size: cover;
      border: none;
      background-color: transparent;
   }
}