@media screen and (min-width: 360px) and (max-width: 767px) {

   /* ///////////////////////////// Index wall //////////////////////////// */
   .section-wall {
      width: 100%;
      height: auto;
      background-color: #2D2D2D
   }


   /* ///////////////////////////// Head wall //////////////////////////// */

   .container-head {
      width: auto;
      height: 78px;
      display: flex;
      padding-top: 27px;
      justify-content: space-around;
      background-color: #2D2D2D;
      border: 1px solid #000; /* Grosor y color del borde */
      box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque y color de la sombra */

   }

   .line-section {
      width: 100%;
      height: 0.5px;
      /* background-color: #D9D9D9 */
   }

   .imgLogo-wall {
      width: 180px;
      height: 39px;
   }

   .btnSignUp-wall {
      width: 80px;
      height: 32px;
      border-radius: 6px;
      margin-top: 5px;
      border: none;
      background: linear-gradient(to bottom, #DB00FF, #7204FE);
      color: #FFF;
   }

   /* ///////////////////////////// Create Post //////////////////////////// */

   .containerCreatePost {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
   }

   .containerTxtArea-post {
      width: 90%;
      height: 90px;
      display: flex;
      background: #D9D9D9;
      margin: 19px 22px;
      border-radius: 15px;
      border: none;
   }

   .txtAreaCreate-post {
      width: 100%;
      height: auto;
      border-radius: 15px;
      display: flex;
      border: none;
      background: transparent;
      margin: 10px;
      padding: 10px;
      border-color: #CECECE;
      border-width: 0.2px;
      border-style: solid;
      color: #565656;
      text-align: justify;
      font-size: 15px;
      font-family: Inter;
      font-weight: 600;
      word-wrap: break-word;
      resize: none;
   }

   .containerImgUser-post {
      width: 51px;
      height: 51px;
      margin: 16px;
      display: flex;
      background: linear-gradient(to bottom, #DB00FF, #7204FE);
      border-radius: 50%;
   }

   .circle-img {
      width: 45px;
      height: 45px;
      margin: 3px;
      display: flex;
      background-color: #D9D9D9;
      border-radius: 50%;

   }

   .containerImgUser-post img {
      width: 39px;
      height: 39px;
      margin: 3px;
      display: flex;
      border-radius: 50%;
   }

   .btnPost {
      width: 80px;
      height: 32px;
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      margin-top: 5px;
      margin-left: 359px;
      border: none;
      background: linear-gradient(to bottom, #DB00FF, #7204FE);
      color: #FFF;
      padding: 14px 7px 27px 26px;
   }


   /* ///////////////////////////// post //////////////////////////// */

   .container-post {
      width: 100%;
      height: 321px;
      display: flex;
      flex-direction: column;
      border-top: 2.5px solid #000; /* Grosor y color del borde superior */
      border-bottom: 2.5px solid #000; /* Grosor y color del borde inferior */
   }

   .head-post {
      width: 88%;
      height: auto;
      /* background-color: aqua; */
      display: flex;
      margin: 0px 35px;
   }

   .containerUser-post {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;

   }

   .ImgUser-post {
      width: 39px;
      height: 39px;
      margin: 3px;
      display: flex;
      border-radius: 50%;
   }

   .nameUser-post {
      color: #FFF;
      text-align: justify;
      font-size: 15px;
      font-family: Inter;
      font-weight: 600;
      word-wrap: break-word;
      padding: 10px;
   }

   .btnOptions-post {
      width: 60px;
      height: 60px;
      background-image: url('../../img-sn/options.svg');
      background-size: cover;
      border: none;
      background-color: transparent;

   }

   .card-post {
      width: auto;
      height: 170px;
      display: flex;
      background: #D9D9D9;
      margin: 19px 22px;
      border-radius: 15px;
      border: none;

   }

   .txtArea-post{
      width: 100%;
      height: auto;
      border-radius: 15px;
      display: flex;
      border: none;
      background: transparent;
      margin: 10px;
      padding: 10px;
      border-color: #CECECE;
      border-width: 0.2px;
      border-style: solid;
      color: #565656;
      text-align: justify;
      font-size: 15px;
      font-family: Inter;
      font-weight: 600;
      word-wrap: break-word;
      resize: none;
      
   }

   .like-post {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
   }

   .btnLike-post{
      width: 30px;
      height: 30px;
      margin-left: 40px;
      background-image: url('../../img-sn/like.svg');
      background-size: cover;
      border: none;
      background-color: transparent;
   }

   .btnLike-post:hover{
      background-image: url('../../img-sn/like1.svg');
   }

   h1 {
      color: #FFF;
      text-align: justify;
      font-size: 15px;
      font-family: Inter;
      font-weight: 600;
      word-wrap: break-word;
      margin-left: 7px;
   }

   /* ////////////////////////// footer wall /////////////////////// */

   .containerFooter-wall {
      width: 100%;
      height: 74px;
      margin-top: 300px;
      padding-top: 26px;
      display: flex;
      background-color: #030303;
      justify-content: space-evenly;
      position: fixed;
      bottom: 0;
      border: 5px solid #000;
      box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5); 
}
   

   .btnHome-footer{
      width: 46px;
      height: 46px;
      margin-left: 40px;
      display: flex;
      background-image: url('../../img-sn/home.svg');
      background-size: cover;
      border: none;
      background-color: transparent;
   }

   .btnCreatePost-footer{
      width: 50px;
      height: 50px;
      margin-left: 40px;
      display: flex;
      background-image: url('../../img-sn/createPost.svg');
      background-size: cover;
      border: none;
      background-color: transparent;
   }
   .btnProfile-footer{
      width: 46px;
      height: 46px;
      margin-left: 40px;
      display: flex;
      background-image: url('../../img-sn/user.svg');
      background-size: cover;
      border: none;
      background-color: transparent;
   }



}