/*login fake*/
@media (max-width: 400px) {
    /* body {
        /* background-size: cover;
        background-repeat: no-repeat; */
        /* margin: 0% 0% 0% 0%;
    } */
    .logIn {
        padding: 30% 0% 8% 0%;
        text-align: center;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 200%;
    }
    .inputLog {
        padding: 3% 9% 3% 9%;
        margin: 3% 20% 2% 20%;
        border-radius: 10px;
        font-size: medium;
        border: none;
    }
    .nameslabel {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 6% 10% 0% 20%;
        font-weight: bold;
    }
    .buttonLog {
        background: linear-gradient(to bottom, #DB00FF, #7204FE);
        height: max-content;
        padding: 3% 11% 3% 11%;
        border: none;
        border-radius: 10px;
        color: white;
        margin: 3% 0% 4% 38%;
    }
    .buttonReg {
        background: linear-gradient(to bottom, #DB00FF, #7204FE);
        height: max-content;
        padding: 3% 11% 3% 11%;
        border: none;
        border-radius: 10px;
        color: white;
        margin: 5% 2% 0% 15%;
    }
    .buttonRet {
        background: linear-gradient(to bottom, #DB00FF, #7204FE);
        height: max-content;
        padding: 3% 11% 3% 11%;
        border: none;
        border-radius: 10px;
        color: white;
        margin: 5% 15% 0% 1%;
    }
    .otherOption {
        margin: 0% 0% 5% 0%;
        color: cornsilk;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .googlelog {
        margin: 0% 43% 8% 43%;
        width: 36px;
        height: 36px;
        /* border-radius: 22px; */
        background-color: white;
        border: none;
        padding: 0%;
     }
     .imgGoogle {
        width: 36px;
        height: 36px;
     }
    }
    