/* @media screen and (min-width: 360px) and (max-width: 767px) { */
.containerLog {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.container {
    display: flex;
    width: 50%;
    height: auto;
    padding: 5px;
    margin: auto;
}
.containerLeft {
    width: 500px;
    height: 560px;
    background-color: #333333;
    background-image: url('../../img-sn/left-register.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.containerRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 560px;
    background: #2A2A2A;
}
.headerLogIn{
    display: flex;
    align-items: center;
    margin-right: 158px;
}
.btn-back-home{
 /* position: absolute;
    left: 1024px;  */
    display: flex;
    align-items: center;
    margin-right: 130px;
 /* position: absolute;
    left: 1024px;  */
    display: flex;
    align-items: center;
    margin-right: 130px;    
}
.titleLogIn{
    padding-top: 1rem;
}
.titleLogIn h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    margin-bottom: 46px;
    margin-top: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.formLogIn {
    display: flex;
    flex-direction: column;
}
.formLogIn input {
    display: flex;
    width: 252px;
    height: 32px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #FFFFFFD9;
}
.formLogIn label {
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.linkToResetPassword a {
    color: white;
    font-family: Inter;
    font-size: small;
    justify-content: flex-end;
    align-items: center;
}
.formLogIn h6 {
    margin-top: 10px;
    color: cornsilk;
    text-align: center;
    font-family: Inter;
}
#buttonGoogle {
    margin: 5% 43% 1% 43%; 
    color: aliceblue;
    width: 36px;
    height: 36px;
    /* display: flex; */
    border-radius: 22px;
    background-color: white;
    border: none;
    padding: 0%;
}
.imgGoogle {
    margin-top: 3px;
    width: 30px;
    height: 30px;
}
.formLogIn button {
    width: 257px;
    height: 32px;
    margin-top: 15px;
    border-radius: 6px;
    background: linear-gradient(to bottom, #DB00FF, #7204FE);
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border: none;
}
@media (max-width: 800px) {
    body{
        display: block;
    }
    .containerLog {
        display: flex;
        width: 67vw;
        height: 92vh;
        justify-content: center;
        /* align-content: center; */
        align-items: center;
    }
    .containerLeft {
        display: none;
    }
    /* .btn-back-home{
        display: none;
    } */
    .containerRight {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;    
        background: none; 
    }
}