.sectionConfirm-modal{
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}
.modalContent-delete{
    background-color: white;
    margin: 15% auto;
    padding: 15px;
    border: 1px solid #888888c7;
    border-radius: 20px;
    width: 40%;
    text-align: center;
}
.tituloModal-delete{
    color: rgb(36, 34, 34);
    font-family: 'Inter', sans-serif;
    font-size: medium;
    font-weight: bolder;
    padding: 20px;
}
.btnConfirm-delete{
    width: 90px;
    height: 32px;
    margin-bottom: 15px;
    margin-left: 3%;
    border-radius: 6px;
    background: linear-gradient(to bottom, #DB00FF, #7204FE);
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    border: none;
}
.btnConfirm-cancel{
    width: 90px;
    height: 32px;
    margin-bottom: 15px;
    margin-right: 3%;
    border-radius: 6px;
    background: linear-gradient(to bottom, #DB00FF, #7204FE);
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    border: none;
}
.show-modal{
    display: block;
}
.hide-modal{
    display: none;
}

@media screen and (min-width: 360px) and (max-width: 767px) {

    .sectionConfirm-modal{
        display: block;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: 60px;
    }
    .modalContent-delete{
        /* background-color: #fefefe; */
        background-color: rgb(230, 222, 236);
        margin: 70% auto;
        padding: 15px;
        /* border: 1px solid #888; */
        border: 1px solid #888888c7;
        border-radius: 20px;
        width: 80%;
        text-align: center;
    }
    .tituloModal-delete{   
        color: rgb(36, 34, 34);
        font-family: 'Inter', sans-serif;
        font-size: medium;
        font-weight: bolder;
        padding: 20px;

    }
    .btnConfirm-delete{
        width: 90px;
        height: 32px;
        margin-bottom: 15px;
        margin-left: 3%;
        border-radius: 6px;
        background: linear-gradient(to bottom, #DB00FF, #7204FE);
        color: #FFF;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        font-style: normal;
        border: none;
    }
    .btnConfirm-cancel{
        width: 90px;
        height: 32px;
        margin-bottom: 15px;
        margin-right: 3%;
        border-radius: 6px;
        background: linear-gradient(to bottom, #DB00FF, #7204FE);
        color: #FFF;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        font-style: normal;
        border: none;
    }
    .show-modal{
        display: block;
    }
    .hide-modal{
        display: none;
    }


}