@media screen and (min-width: 360px) and (max-width: 767px) {

    .sectionConfirm-modal{
        display: block;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: 60px;
    }

    .modalContent-delete{
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        text-align: center;
    }
    .tituloModal-delete{   
        background-color: blue;
    }
    .btnConfirm-delete{
        background-color: blue;
    }
    .btnConfirm-cancel{
        background-color: blue;
    }
    .show-modal{
        display: block;
    }

    .hide-modal{
        display: none;
    }


}