/*profile.css*/
@media (max-width: 400px) {
  body{
    margin: 0%;
    }
  .imghpro {
    width: 390px;
    position: absolute;
    z-index: 0;
  }
  .navpro {
    border-radius: 100%;
    width: 50%;
    position: relative;
  }
  .imgProfile {
    margin: 60% 70% 10% 70%;
    border-radius: 100%;
    border: #2d2d2d;
    width: 60%;
    position: absolute;
    z-index: 1;
  }
  .namepro {
    position: relative; 
    top: 230px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: cornsilk;
    text-align: center;
  }
  .addresspro {
    position: relative; 
    top: 235px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    color: rgba(255, 248, 220, 0.61);
    text-align: center;
  }
  .buttonEdit {
    position: relative;
    top: 245px;
    margin: 2% 1% 2% 5%;
    background: linear-gradient(to bottom, #DB00FF, #7204FE);
    height: max-content;
    padding: 2% 19% 2% 19%;
    border: none;
    border-radius: 10px;
    color: white;
    /* margin: 5% 1.5% 0% 1.5%; */
  }
  .buttonExit {
    position: relative;
    top: 245px;
    margin: 2% 5% 2% 0%;
    background: linear-gradient(to bottom, #DB00FF, #7204FE);
    height: max-content;
    padding: 2% 19% 2% 19%;
    border: none;
    border-radius: 10px;
    color: white;
    /* margin: 5% 1.5% 0% 1.5%; */
  }
  .homeBarPro {
    background-color: #7204FE;
  }
}