/*profile.css*/
body{
  margin: 0%;
  }
/* .headerProfile {
  display: flex;
​
} */
.buttonReturn {
  position: fixed;
}
.imghpro {
  width: 100%;
  height: 29%;
  position: absolute;
  z-index: 0;
}
.navpro {
  border-radius: 100%;
  width: 30px;
  position: flex;
  align-items: center;
}
.imgProfile {
  margin: 10% 0% 0% 45%;
  border-radius: 100%;
  border-color: #2d2d2d;
  border-image-width: 30px;
  width: 10%;
  position: absolute;
  z-index: 1;
}
.namepro {
  position: relative; 
  top: 270px;
  font-family: 'Inter', sans-serif;
  font-size: medium;
  color: cornsilk;
  text-align: center;
}
.addresspro {
  position: relative; 
  top: 275px;
  font-family: 'Inter', sans-serif;
  font-size: small;
  color: rgba(255, 248, 220, 0.61);
  text-align: center;
}
.buttonsContainer {
  display: flex;
  justify-content: center;
  position: relative;
  top: 310px;
}
.buttonEdit {
  background: linear-gradient(to bottom, #DB00FF, #7204FE);
  height: max-content;
  padding: 1% 10% 1% 10%;
  border: none;
  border-radius: 10px;
  color: white;
}
.buttonExit {
  background: linear-gradient(to bottom, #DB00FF, #7204FE);
  height: max-content;
  margin-left: 6%;
  padding: 1% 10% 1% 10%;
  border: none;
  border-radius: 10px;
  color: white;
}
.homeBarPro {
  background-color: #7204FE;
}
@media screen and (min-width: 390px) and (max-width: 767px) {
/* @media (max-width: 400px) { */
  body{
    margin: 0%;
    }
  .imghpro {
    width: 390px;
    height: auto;
    position: absolute;
    z-index: 0;
  }
  .navpro {
    border-radius: 100%;
    width: 50%;
    position: relative;
  }
  .imgProfile {
    margin: 60% 70% 10% 70%;
    border-radius: 100%;
    border: #2d2d2d;
    width: 60%;
    position: center;
    z-index: 1;
  }
  .namepro {
    position: relative; 
    top: 230px;
    font-family: 'Inter', sans-serif;
    font-size: medium;
    color: cornsilk;
    text-align: center;
  }
  .addresspro {
    position: relative; 
    top: 235px;
    font-family: 'Inter', sans-serif;
    font-size: small;
    color: rgba(255, 248, 220, 0.61);
    text-align: center;
  }
  .buttonsContainer {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 10px;
  }
  .buttonEdit {
    position: relative;
    top: 245px;
    margin: 2% 1% 2% 5%;
    background: linear-gradient(to bottom, #DB00FF, #7204FE);
    height: max-content;
    padding: 2% 19% 2% 19%;
    border: none;
    border-radius: 10px;
    color: white;
    /* margin: 5% 1.5% 0% 1.5%; */
  }
  .buttonExit {
    position: relative;
    top: 245px;
    margin: 2% 5% 2% 0.5%;
    background: linear-gradient(to bottom, #DB00FF, #7204FE);
    height: max-content;
    padding: 2% 16% 2% 16%;
    border: none;
    border-radius: 10px;
    color: white;
    /* margin: 5% 1.5% 0% 1.5%; */
  }
  .homeBarPro {
    background-color: #7204FE;
  }
}